.EmptyBookComponent-wrapper{
  flex:1;
  justify-content:center;
  align-items: center;
  background: darkorange;
  width:300px;
  height:400px;
  display: flex;
  margin-left:100px;
  margin-top:100px;
}